.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 20px 0;
}

.todo__item.done .item__title {
  opacity: 0.4;
}

.item__input--checkbox {
  display: none;
}

.item__input--checkbox + label {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 4px;
  border: 2px solid #757575;
  cursor: pointer;
}

.item__input--checkbox:checked + label::after {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
}

.item__title {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
}

.item__button-container > * + * {
  margin-left: 8px;
}

.item__button {
  padding: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #9e9e9e;
}

.item__button:hover {
  color: #ea80fc;
}
